!!!
%html
  %head
    %title= title
    = csrf_meta_tag
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'custom', :media => 'screen'
  %body
    .container
      %header
        = image_tag("logo.png", :alt => "Sample App", :class => "round")
        %nav.round
          %ul
            %li= link_to "Home", '#'
            %li= link_to "Help", '#'
            %li= link_to "Sign In", '#'
      %section.round
        = yield



